.cards-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	gap: 2rem;
	padding: 2rem;
	justify-items: center;
}

@media screen and (min-width: 800px) {
	.cards-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}